@import './../../assets/scss/layout.vars';

.new-task {

  width: 100%;
  display: flex;
  justify-content: center;

  &__input {
    
    z-index: 1;
    height: 50px;
    width: 515px;
    outline: none;
    color: $black;
    font-size: 1.4rem;
    background: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all .25s ease-in-out;
    border: 2px solid $ocean-blue;
    box-shadow: 5px 5px 16px 0px rgb(0, 0, 0);
    
    &:focus {
      box-shadow: 1px 0px 12px 1px rgba(255, 255, 255, .4);
    }

    &::placeholder {
      color: #c2c2c2;
    }
  }
}